MYSQL_ROOT_PASSWORD=secretoRoot2026
MYSQL_DATABASE=wordpressdb
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppassword2026

WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=wpuser
WORDPRESS_DB_PASSWORD=wppassword2026
WORDPRESS_DB_NAME=wordpressdb